body {
    background-image: url("../images/food.png");
    
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    width: 480px;
    text-align: center;
    margin: 0 auto;
    font-size: x-large;
    font-style: italic;
}

.text {
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.container {
    background: white;
    border-style: outset;
    border-color: orangered;
    margin: 0 auto;
    width: 960px;
    padding: 10px;
}
