body {
    background-image: url("../images/positive.png");
    
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background: lightcoral;
    width: 480px;
    text-align: center;
    margin: 0 auto;
    font-size: xx-large;
}

.text {
    color: lightcoral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.container {
    background: white;
    margin: 0 auto;
    border: 1px solid black;
    width: 960px;
    padding: 10px;
}
